<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B74D7A0133F64EE70584C6E5A7D50A785B40BA40</string>
				<key>dateExpires</key>
				<string>3/12/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B74D7A0133F64EE70584C6E5A7D50A785B40BA40</string>
						<key>dateExpires</key>
						<string>3/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5NSS72SP2Z</string>
						<key>name</key>
						<string>Virtusa Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B74D7A0133F64EE70584C6E5A7D50A785B40BA40</string>
						<key>dateExpires</key>
						<string>3/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5NSS72SP2Z</string>
						<key>name</key>
						<string>Virtusa Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B74D7A0133F64EE70584C6E5A7D50A785B40BA40</string>
						<key>dateExpires</key>
						<string>3/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5NSS72SP2Z</string>
						<key>name</key>
						<string>Virtusa Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B74D7A0133F64EE70584C6E5A7D50A785B40BA40</string>
						<key>dateExpires</key>
						<string>3/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5NSS72SP2Z</string>
						<key>name</key>
						<string>Virtusa Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B74D7A0133F64EE70584C6E5A7D50A785B40BA40</string>
						<key>dateExpires</key>
						<string>3/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5NSS72SP2Z</string>
						<key>name</key>
						<string>Virtusa Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B74D7A0133F64EE70584C6E5A7D50A785B40BA40</string>
						<key>dateExpires</key>
						<string>3/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5NSS72SP2Z</string>
						<key>name</key>
						<string>Virtusa Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B74D7A0133F64EE70584C6E5A7D50A785B40BA40</string>
						<key>dateExpires</key>
						<string>3/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5NSS72SP2Z</string>
						<key>name</key>
						<string>Virtusa Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B74D7A0133F64EE70584C6E5A7D50A785B40BA40</string>
						<key>dateExpires</key>
						<string>3/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5NSS72SP2Z</string>
						<key>name</key>
						<string>Virtusa Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B74D7A0133F64EE70584C6E5A7D50A785B40BA40</string>
						<key>dateExpires</key>
						<string>3/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>connectivity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5NSS72SP2Z</string>
						<key>name</key>
						<string>Virtusa Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B74D7A0133F64EE70584C6E5A7D50A785B40BA40</string>
						<key>dateExpires</key>
						<string>3/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_mailer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5NSS72SP2Z</string>
						<key>name</key>
						<string>Virtusa Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B74D7A0133F64EE70584C6E5A7D50A785B40BA40</string>
						<key>dateExpires</key>
						<string>3/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5NSS72SP2Z</string>
						<key>name</key>
						<string>Virtusa Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B74D7A0133F64EE70584C6E5A7D50A785B40BA40</string>
						<key>dateExpires</key>
						<string>3/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_webview_plugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5NSS72SP2Z</string>
						<key>name</key>
						<string>Virtusa Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B74D7A0133F64EE70584C6E5A7D50A785B40BA40</string>
						<key>dateExpires</key>
						<string>3/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>launch_review.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5NSS72SP2Z</string>
						<key>name</key>
						<string>Virtusa Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B74D7A0133F64EE70584C6E5A7D50A785B40BA40</string>
						<key>dateExpires</key>
						<string>3/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5NSS72SP2Z</string>
						<key>name</key>
						<string>Virtusa Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B74D7A0133F64EE70584C6E5A7D50A785B40BA40</string>
						<key>dateExpires</key>
						<string>3/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5NSS72SP2Z</string>
						<key>name</key>
						<string>Virtusa Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B74D7A0133F64EE70584C6E5A7D50A785B40BA40</string>
						<key>dateExpires</key>
						<string>3/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5NSS72SP2Z</string>
						<key>name</key>
						<string>Virtusa Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B74D7A0133F64EE70584C6E5A7D50A785B40BA40</string>
						<key>dateExpires</key>
						<string>3/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>share.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5NSS72SP2Z</string>
						<key>name</key>
						<string>Virtusa Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B74D7A0133F64EE70584C6E5A7D50A785B40BA40</string>
						<key>dateExpires</key>
						<string>3/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5NSS72SP2Z</string>
						<key>name</key>
						<string>Virtusa Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B74D7A0133F64EE70584C6E5A7D50A785B40BA40</string>
						<key>dateExpires</key>
						<string>3/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5NSS72SP2Z</string>
						<key>name</key>
						<string>Virtusa Corporation (Company)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B74D7A0133F64EE70584C6E5A7D50A785B40BA40</string>
						<key>dateExpires</key>
						<string>3/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5NSS72SP2Z</string>
						<key>name</key>
						<string>Virtusa Corporation (Company)</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5NSS72SP2Z.com.virtusa.eag.checkin</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5NSS72SP2Z</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>5NSS72SP2Z.com.virtusa.eag.checkin</string>
				</array>
			</dict>
			<key>name</key>
			<string>CheckIn.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a86faeec-476e-4d05-b273-75d1a062abb5</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.virtusa.eag.checkin</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5NSS72SP2Z</string>
				<key>name</key>
				<string>Virtusa Corporation (Company)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
